@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-[#0F0F0F] to-[#1A1A1A] text-white flex items-center justify-center
  /* background-color: #0F0F0F;
  color: #EFEEEA;
  font-family: montmed */
}

.containerb {
  @apply w-full max-w-[1440px] mx-auto px-5;
}

@font-face {
  font-family: montmed;
  src: url(./font/montmed.ttf);
}

@font-face {
  font-family: montbold;
  src: url(./font/montbold.ttf);
}

@font-face {
  font-family: montlight;
  src: url(./font/montlight.ttf);
}
